{% extends "./inc/base.html" %}

{% load static %}

{% block content %}

  <div class="col-9 me-auto">
				<div class="d-flex flex-row align-items-center justify-content-start">
					<h1 class="mb-5">New question</h1>
				</div>
				<form class="row g-3 question-new">
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputTitle" class="form-label">Title</label>
						<input type="text" class="form-control" id="inputTitle" required>
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputText" class="form-label">Text</label>
            <textarea class="form-control" id="inputText" rows="8" required></textarea>
          </div>
					<div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputTags" class="form-label">Tags</label>
						<input type="text" class="form-control" id="inputTags" required>
          </div>
					<div class="col-3"></div>
          <div class="col-9">
            <button type="submit" class="btn btn-primary">Ask!</button>
          </div>
        </form>
			</div>

{% endblock %}
