{% extends './inc/base.html' %}

{% load static %}

{% block content %}

  <div class="col-9">

    <div class="d-flex flex-row align-items-center justify-content-start">
      <h1 class="mb-5">Hot questions</h1>
      <a href="{% url 'index' %}" class="text-decoration-underline ms-5 mb-4" style="font-size: 1.2rem">New Questions</a>
    </div>

    {% for question in paginated_items.content %}
      {% include './inc/question_item.html' %}
    {% endfor %}

    {% include './inc/paginator.html' %}
  </div>

  {% include './inc/sidebar.html' %}

{% endblock %}