{% extends "./inc/base_noauth.html" %}

{% load static %}

{% block content %}

  <div class="col-6 me-auto">
				<div class="d-flex flex-row align-items-center justify-content-start">
					<h1 class="mb-5">Log In</h1>
				</div>
        <form class="row g-3 login">
          <div class="col-12 mb-3 text-danger">Incorrect login or password!</div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputLogin" class="form-label">Login</label>
            <input type="text" class="form-control" id="inputLogin" value="root" required>
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="*******" required>
          </div>
					<div class="col-4"></div>
          <div class="col-8">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
          <div class="col-4"></div>
          <div class="col-8">
            <a href="{% url 'singup' %}">create new account</a>
          </div>
        </form>
			</div>
  <div class="col-3"></div>

{% endblock %}