{% extends "./inc/base.html" %}

{% load static %}

{% block content %}

  <div class="col-6 me-auto">
				<div class="d-flex flex-row align-items-center justify-content-start">
					<h1 class="mb-5">Settings: {{ profile.nickname }}</h1>
				</div>
        <form class="row g-3 settings">
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputLogin" class="form-label">Login</label>
            <input type="text" class="form-control" id="inputLogin" value="{{ profile.user.username }}">
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" value="{{ profile.user.email }}">
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputNickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="inputNickname" value="{{ profile.nickname }}">
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputAvatar" class="form-label">Avatar</label>
            <div class="input-group mb-3">
              <span class="input-group">
                <div class="profile flex-shrink-0 mb-3">
                  <img src="{{ profile.avatar.url }}" alt="{{ profile.nickname }}">
                </div>
              </span>
             <input type="file" class="form-control" id="inputAvatar">
            </div>
          </div>
					<div class="col-4"></div>
          <div class="col-8">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
			</div>
  <div class="col-3"></div>

{% endblock %}