{% extends "./inc/base.html" %}

{% load static %}

{% block content %}

  <div class="col-6 me-auto">
				<div class="d-flex flex-row align-items-center justify-content-start">
					<h1 class="mb-5">Registration</h1>
				</div>
        <form class="row g-3 register">
          <div class="col-12 mb-3 text-danger">Incorrect login or password!</div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputLogin" class="form-label">Login</label>
            <input type="text" class="form-control" id="inputLogin" value="KittieCat">
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" value="kittieCat0231@gmail.com">
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputNickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="inputNickname" value="KittieCat">
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputPasswordRepeat" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="inputPasswordRepeat">
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <label for="inputAvatar" class="form-label">Avatar</label>
            <div class="input-group mb-3">
              <span class="input-group">
                <div class="profile flex-shrink-0 mb-3">
                  <img src="../static/img/profile_pics/profile.jpg" alt="Profile">
                </div>
              </span>
             <input type="file" class="form-control" id="inputAvatar">
            </div>
          </div>
					<div class="col-4"></div>
          <div class="col-8">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
			</div>
  <div class="col-3"></div>

{%  endblock %}

