{% extends "./inc/base.html" %}

{% load static %}

{% block content %}

  <div class="col-9">

    <div class="d-flex flex-row align-items-center justify-content-start">
      <h1 class="mb-5">Tag: {{ tag.name }}</h1>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-start">
      <h1 class="mb-5">Rating: {{ tag.rating }}</h1>
    </div>

    {% for question in paginated_items.content %}
      {% include './inc/question_item.html' %}
    {% endfor %}

    {% include './inc/paginator.html' %}
  </div>

  {% include './inc/sidebar.html' %}

{% endblock %}