{% load static %}

<!doctype html>

<html lang="en" class="h-100">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ask! Me</title>

	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  	<div class="container">
    	<a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
				<div class="logo flex-shrink-0">
					<img src="{% static "img/logo2.png" %}" alt="Logo">
				</div>
				<div class="flex-grow-1 ms-3">
					Ask! Me
				</div>
			</a>
			<form class="d-flex flex-row offset-lg-2" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-primary" type="submit">Search</button>
			</form>
    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav align-items-center ms-auto">
					<li class="nav-item me-5">
						<a href="{% url 'ask' %}" class="btn btn-primary" role="button">Ask!</a>
					</li>
					<li class="nav-item">
						<div class="row">

              {% if not request.user.is_authenticated %}

							<div class="col-4">
								<a class="nav-link" href="#">
									<div class="profile flex-shrink-0">
										<img src="{{ account.avatar.url }}" alt="{{ account.nickname }}">
									</div>
								</a>
							</div>
							<div class="col-8">
								<a href="{% url 'profile' account.nickname %}" class="nav-link text-white">{{ account.nickname }}</a>
								<ul class="navbar-nav justify-content-between">
									<li class="nav-item">
                    <a href="{% url 'settings' %}" class="nav-link text-decoration-underline text-white">settings</a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link text-decoration-underline text-white">log out</a>
									</li>
								</ul>
							</div>

              {% else %}

              <div class="col">
								<ul class="navbar-nav justify-content-between">
									<li class="nav-item">
										<a href="{% url 'login' %}" class="nav-link text-decoration-underline text-white">
											log in
										</a>
									</li>
									<li class="nav-item">
										<a href="{% url 'singup' %}" class="nav-link text-decoration-underline text-white">
											register
										</a>
									</li>
								</ul>
							</div>

              {% endif %}


						</div>
					</li>
				</ul>
    </div>
  	</div>
	</nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0 background">
	<div class="container mt-5">
		<div class="row">
      {% block content %}
      {% endblock %}
		</div>
	</div>
</main>

<footer class="footer mt-auto py-3 bg-dark">
	<div class="container">
		<span class="text-muted">(=^ ◡ ^=)</span>
	</div>
</footer>

<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

</body>
</html>