{% if content.paginator.num_pages > 1 %}
<div class="row">
    <ul class="pagination mt-5">
        {% if content.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ content.previous_page_number }}" tabindex="-1" aria-disabled="true"><</a></li>
        {% endif %}

        {% for i in content.paginator.page_range %}
          {% if i >= content.number and i < max_page %}
          <li class="page-item {% if i == content.number %}activate{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if content.has_next %}
        <li class="page-item disabled"><a class="page-link disabled" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ content.next_page_number }}">></a></li>
        {% endif %}


    </ul>
</div>
{% endif %}